@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Share+Tech+Mono&display=swap');
/* lava */
@import url('https://fonts.googleapis.com/css2?family=Wellfleet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
/* ocean */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
:root{
	/* forest */
	--forest-prime-c: #5C8374;
	--forest-sec-c: #D2E3C8;
	--forest-para:#4F6F52;
	--forest-font:'Poppins', sans-serif;
	--forest-link:#B6C4B6;
	--forest-link-h :#4F6F52;
	--forest-list: #CFB997;
	--forest-white: #EEF5E5;
	--forest-code:#F1E4C3;
	--forest-code-font:'Share Tech Mono', monospace;
	--quote-c: #FAD6A5;

	/* lava  */
	--lava-prime-c: #BE3144;
	--lava-sec-c: #F05941;
	--lava-para:#FA7D09;
	--lava-font:'Wellfleet', monospace;
	--lava-link:#4A3F35;
	--lava-link-h :#FF4301;
	--lava-list: #BE3144;
	--lava-white: #EEF5E5;
	--lava-code:#F1E4C3;
	--lava-code-font:'Cutive Mono', monospace;
	--quote-c: #872341;

	/* ocean */
	--ocean-prime-c:#176B87 ;
	--ocean-sec-c: #FFD28F;
	--ocean-para:#86B6F6;
	--ocean-font:'Quicksand', sans-serif;
	--ocean-link:#AAD7D9;
	--ocean-link-h :#92C7CF;
	--ocean-list:#92C7CF ;
	--ocean-white: #ffffff;
	--ocean-code:#92C7CF;   
	--ocean-code-font:'Dosis', sans-serif;;
	--ocean-quote-c: #000000;
	
}
html {
    scroll-behavior: smooth;
}
body.dark{
	background-color:#080808;
}
body.light{
	background-color: #ffe;
}

/*<----------------------------------------------------------------------->*/
/*----------------------------f-o-r-e-s-t--------------------------------- */
/*<----------------------------------------------------------------------->*/
.forest h1,
.forest h2,
.forest h3,
.forest h4,
.forest h5,
.forest h6{
	color: var(--forest-prime-c);
font-family: var(--forest-font);
line-height: 1;
}	
.forest button{
	background: var(--forest-sec-c);
	height:50px;
	margin: 5px;
	padding: 10px;
	color: #739090;
	font-weight: bold;
	font-size: medium;
	border: solid 3px var(--forest-prime-c) ;
	font-family: 'Poppins', sans-serif;
	border-radius: 10px;

}
.forest button:hover{
	background: var(--forest-prime-c);
	height:50px;
	margin: 5px;
	padding: 10px;
	color: black;
	font-weight: bold;
	font-size: medium;
	border: solid 3px var(--forest-prime-c) ;
	font-family: 'Poppins', sans-serif;
	border-radius: 10px;
	transition: 0.3s;
}
.forest p{
	color:var(--forest-para);
	font-family: var(--forest-font);
}
.forest a{
	color: var(--forest-link);
}
.forest a:hover{
	color: var(--forest-link-h);
	transition: 0.3s;
}
.forest mark{
	color: black;
	background-color: wheat;
	padding: 0 2px;
}
.forest li,
.forest ul,
.forest ol{
	color :var(--forest-list);
	font-family: var(--forest-font);
	line-height: 1.4;
}
hr.forest{
 border-top: 2px solid var(--forest-list);
}
.forest article
/*.forest aside {*/{
    background: var(--forest-sec-c);
    border-left: 4px solid var(--forest-para);
    padding: 0.01rem 0.8rem;
}
.forest aside {
    background: var(--forest-white);
    border-left: 4px solid var(--forest-link);
    padding: 0.01rem 0.8rem;
    color: var();
}
.forest details{
	line-height: 1;
}
.forest summary{
	color : var(--forest-list);
	line-height: 1.3;
	font-weight: bold;
	font-family: var(--forest-font);
}
.forest code,
.forest samp{
	background-color: var(--forest-code);
	display: block;
    max-width: 500px;
    padding: 0.5rem 2rem;
    white-space: pre-wrap;
    border-radius: 10px;
    font-family: var(--forest-code-font);
}

/*quote*/
.forest blockquote{
	font-family: var(--forest-code-font);
	color: var(--quote-c);
	display: block;
    font-size: x-large;
    margin: 1rem auto;
    padding: 1.5rem 1rem;
}
.forest footer{
	font-family: var(--forest-font);
	font-size: small;
	font-weight: 100px;
	letter-spacing: 5px;
	opacity: 0.8;
}
/*key*/
.forest kbd{
	border: solid 3px var(--quote-c);
	padding: 5px;
	background-color: var(--forest-white) ;
	opacity: 0.9;
	font-family: var(--forest-code-font);
	border-radius: 5px;
	box-shadow: 2px 4px;
	margin: 3px;
}


.forest table{
    border: 3px solid var(--forest-list);
    border-spacing: 0;
    display: inline-block;
    max-width: 100%;
    overflow-x: auto;
    padding: 0;
    border-radius: 8px;
}

.forest td,
.forest tr {
    padding: 0.5rem 0.8rem;
    text-align: center;
    color: var(--forest-para);
    background-color: var(--forest-white);
    font-family: var(--forest-font);

}
.forest th{
    padding: 0.5rem 0.8rem;
    text-align: center;
    color: var(--forest-code);
    background-color: darkgreen;
    font-size: large;
    font-family: var(--forest-code-font);
    border-bottom: 3px solid var(--forest-list);

}
.forest-leaf,
.forest-leaf-dark{
	background-color: green;
	color: #EEF5E5;
}

.forest-stem,
.forest-stem-dark{
	background-color: #CFB997;
	color: #000;
}
.forest-newleaf,
.forest-newleaf-dark{
	background-color :lightgreen;
	color: #000;
}
.forest-dryleaf,
.forest-dryleaf-dark{
	background-color: #4F6F52;
	color: #EEF5E5;
}
.forest-root, 
.forest-root-dark{
	background-color: burlywood;
	color: black;
}
.forest-air, .forest-air-dark{
	background-color: #EEF5E5;
	color: #000;
}
.forest-air-dark,
.forest-newleaf-dark,
.forest-dryleaf-dark,
.forest-leaf-dark,
.forest-root-dark,
.forest-stem-dark{
 font-family: var(--forest-font);
 padding: 5px 10px;
 border: 2px solid #ffe;
 box-shadow: 0 4px #EEF5E5 ;
 margin-bottom: 6px;
}
.forest-air-dark:active,
.forest-newleaf-dark:active,
.forest-dryleaf-dark:active,
.forest-leaf-dark:active,
.forest-root-dark:active,
.forest-stem-dark:active{
 font-family: var(--forest-font);
 padding: 5px 10px;
 border: 2px solid #ffe;
 box-shadow: 0 1px #EEF5E5 ;
 transition: 0.05s;
 transform: translateY(2px);
}
.forest-dryleaf,
.forest-leaf,
.forest-root,
.forest-stem,
.forest-air,
.forest-newleaf{
	font-family: var(--forest-font);
	padding: 5px 10px;
	border: 2px solid darkslategray;
	box-shadow: 0 4px gray ;
	margin-bottom: 6px;
}

.forest-air:active,
.forest-newleaf:active,
.forest-dryleaf:active,
.forest-leaf:active,
.forest-root:active,
.forest-stem:active{
 font-family: var(--forest-font);
 padding: 5px 10px;
 border: 2px solid #000;
 box-shadow: 0 1px #5C8374 ;
 transition: 0.05s;
 transform: translateY(2px);
}

.forest-leaf-card{
	background-color: var(--forest-white);
	border-radius: 5px;
    box-shadow: 4px 5px #4F6F52;
    margin:10px;
    padding:10px;
    width: 240px;

}
.forest-leaf-card:hover{
	background-color: var(--forest-white);
	border-radius: 12px;
    box-shadow: 4px 5px #4F6F52;
    margin: 10px;
    padding: 10px;
    width: 240px;
	transition: 0.3s;
	font-size: 18px;
}
.forest-root-card{
	background-color: var(--forest-code);
	border-radius: 5px;
    box-shadow:4px 5px goldenrod;
    margin:10px;
    padding:10px;
    width: 240px;

}
.forest-root-card:hover{
	background-color: var(--forest-code);
	border-radius: 12px;
    box-shadow:4px 5px goldenrod ;
	margin: 10px;
    padding: 10px;
    width: 240px;
	transition: 0.3s;
	font-size: 18px;
}

section{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/* forms  */

.forest form,.forest label{
	font-family: var(--forest-font);
	padding: 3px 6px;
	margin: 5px;
	color: green;
}
.forest input[type=text],
.forest input[type=password],
.forest input[type=email],
.forest input[type=number],
.forest select,
.forest textarea{
	background-color: #EEF5E5;
	border:  2px solid #D2E3C8;
	border-radius: 2px;
	font-family: var(--forest-code-font);
	padding: 3px 6px;
	margin: 5px;
	font-size: medium;
	
}
.forest option{
	background-color: #EEF5E5;
}
.stem{
	background-color: #CFB997;
}

.leaf{
	background-color: green;
}
.dryleaf{
	background-color: #4F6F52;
}
.newleaf{
	background-color: lightgreen;
}
.root{
	background-color: burlywood;
}
.air{
	background-color: #EEF5E5;
}
.color-stem{
	color: #CFB997 !important;
}

.color-leaf{
	color: green !important;
}
.color-dryleaf{
	color: #4F6F52 !important;
}
.color-newleaf{
	color: lightgreen !important;
}
.color-root{
	color: burlywood !important;
}
.color-air{
	color: #EEF5E5 !important;
}

/*<----------------------------------------------------------------------->*/
/*--------------------------------l-a-v-a--------------------------------- */
/*<----------------------------------------------------------------------->*/
.lava h1,
.lava h2,
.lava h3,
.lava h4,
.lava h5,
.lava h6{
	color: var(--lava-prime-c);
font-family: var(--lava-font);
line-height: 1;
}	
.lava button{
	background: var(--lava-sec-c);
	height:50px;
	margin: 5px;
	padding: 10px;
	color:#fff;
	font-weight: bold;
	font-size: medium;
	border: solid 3px var(--lava-prime-c) ;
	font-family: 'Poppins', sans-serif;
	border-radius: 10px;

}
.lava button:hover{
	background: var(--lava-prime-c);
	height:50px;
	margin: 5px;
	padding: 10px;
	color: #fff;
	font-weight: bold;
	font-size: medium;
	border: solid 3px var(--lava-prime-c) ;
	font-family: 'Poppins', sans-serif;
	border-radius: 10px;
	transition: 0.3s;
}
.lava p{
	color:var(--lava-para);
	font-family: var(--lava-font);
}
.lava a{
	color: var(--lava-link);
}
.lava a:hover{
	color: var(--lava-link-h);
	transition: 0.3s;
}
.lava mark{
	color: black;
	background-color: wheat;
	padding: 0 2px;
}
.lava li,
.lava ul,
.lava ol{
	color :var(--lava-list);
	font-family: var(--lava-font);
	line-height: 1.4;
}
hr.lava{
 border-top: 2px solid var(--lava-list);
}
.lava article
/*.lava aside {*/{
    background: #F1E4C3;
    border-left: 4px solid var(--lava-para);
    padding: 0.01rem 0.8rem;
}
.lava aside {
    background: var(--lava-white);
    border-left: 4px solid var(--lava-link);
    padding: 0.01rem 0.8rem;
    color: var();
}
.lava details{
	line-height: 1;
}
.lava summary{
	color : var(--lava-list);
	line-height: 1.3;
	font-weight: bold;
	font-family: var(--lava-font);
}
.lava code,
.lava samp{
	background-color: whitesmoke;
	display: block;
    max-width: 500px;
    padding: 0.5rem 2rem;
    white-space: pre-wrap;
    border-radius: 10px;
    font-family: var(--lava-code-font);
}

/*quote*/
.lava blockquote{
	font-family: var(--lava-code-font);
	color: #FA7D09;
	display: block;
    font-size: x-large;
    margin: 1rem auto;
    padding: 1.5rem 1rem;
}
.lava footer{
	font-family: var(--lava-font);
	font-size: small;
	font-weight: 100px;
	letter-spacing: 5px;
	opacity: 0.8;
}
/*key*/
.lava kbd{
	border: solid 3px var(--quote-c);
	padding: 5px;
	background-color: whitesmoke ;
	opacity: 0.9;
	font-family: var(--lava-code-font);
	border-radius: 5px;
	box-shadow: 2px 4px;
	margin: 3px;
}

/*table*/
.lava table{
    border: 3px solid var(--lava-list);
    border-spacing: 0;
    display: inline-block;
    max-width: 100%;
    overflow-x: auto;
    padding: 0;
    border-radius: 8px;
}

.lava td,
.lava tr {
    padding: 0.5rem 0.8rem;
    text-align: center;
    color: var(--lava-para);
    background-color: var(--lava-white);
    font-family: var(--lava-font);

}
.lava th{
    padding: 0.5rem 0.8rem;
    text-align: center;
    color: var(--lava-code);
    background-color: var(--lava-sec-c);
    font-size: large;
    font-family: var(--lava-code-font);
    border-bottom: 3px solid var(--lava-list);

}
.lava-fire,
.lava-fire-dark{
	background-color:#F05941;
	color: #fff;
}

.lava-crystal,
.lava-crystal-dark{
	background-color: #F1E4C3;
	color: #000;
}
.lava-molten,
.lava-molten-dark{
	background-color :#FF4301;
	color: #fff;
}
.lava-stone,
.lava-stone-dark{
	background-color: #872341;
	color: #EEF5E5;
}
.lava-coal, 
.lava-coal-dark{
	background-color: #101010;
	color: #ffe;
}
.lava-smoke, .lava-smoke-dark{
	background-color: lightslategray;
	color: #000;
}
.lava-smoke-dark,
.lava-molten-dark,
.lava-stone-dark,
.lava-fire-dark,
.lava-coal-dark,
.lava-crystal-dark{
 font-family: var(--lava-font);
 padding: 5px 10px;
 border: 2px solid #ffe;
 box-shadow: 0 4px #EEF5E5 ;
 margin-bottom: 6px;
}
.lava-smoke-dark:active,
.lava-molten-dark:active,
.lava-stone-dark:active,
.lava-fire-dark:active,
.lava-coal-dark:active,
.lava-crystal-dark:active{
 font-family: var(--lava-font);
 padding: 5px 10px;
 border: 2px solid #ffe;
 box-shadow: 0 1px #EEF5E5 ;
 transition: 0.05s;
 transform: translateY(2px);
}
.lava-stone,
.lava-fire,
.lava-coal,
.lava-crystal,
.lava-smoke,
.lava-molten{
	font-family: var(--lava-font);
	padding: 5px 10px;
	border: 2px solid black;
	box-shadow: 0 4px gray ;
	margin-bottom: 6px;
}

.lava-smoke:active,
.lava-molten:active,
.lava-stone:active,
.lava-fire:active,
.lava-coal:active,
.lava-crystal:active{
 font-family: var(--lava-font);
 padding: 5px 10px;
 border: 2px solid #000;
 box-shadow: 0 1px #5C8374 ;
 transition: 0.05s;
 transform: translateY(2px);
}

.lava-fire-card{
	background-color: rgb(253, 182, 154);
	border-radius: 5px;
    box-shadow: 4px 5px #F05941;
    margin:10px;
    padding:10px;
    width: 240px;

}
.lava-fire-card:hover{
	background-color: white;
	border-radius: 12px;
    box-shadow: 4px 5px #F05941;
    margin: 10px;
    padding: 10px;
    width: 240px;
	transition: 0.3s;
	font-size: 18px;
}
.lava-ignite-card{
	background-color: rgb(230, 230, 230);
	border-radius: 5px;
    box-shadow:4px 5px gray;
    margin:10px;
    padding:10px;
    width: 240px;

}
.lava-ignite-card:hover{
	background-color: rgb(252, 252, 252);
	border-radius: 12px;
    box-shadow:4px 5px gainsboro ;
	margin: 10px;
    padding: 10px;
    width: 240px;
	transition: 0.3s;
	font-size: 18px;
}
.lava-sand-card{
background-color: var(--forest-code);
	border-radius: 5px;
    box-shadow:4px 5px goldenrod;
    margin:10px;
    padding:10px;
    width: 240px;
}
.lava-sand-card:hover{
	background-color: white;
	border-radius: 12px;
    box-shadow:4px 5px goldenrod ;
	margin: 10px;
    padding: 10px;
    width: 240px;
	transition: 0.3s;
	font-size: 18px;
}
section{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/* forms  */

.lava form,.lava label{
	font-family: var(--lava-font);
	padding: 3px 6px;
	margin: 5px;
	color: var(--lava-link-h);
}
.lava input[type=text],
.lava input[type=password],
.lava input[type=email],
.lava input[type=number],
.lava select,
.lava textarea{
	background-color: var(--lava-white);
	border:  2px solid var(--lava-list);
	border-radius: 2px;
	font-family: var(--lava-code-font);
	padding: 3px 6px;
	margin: 5px;
	font-size: medium;
	
}
.lava option{
	background-color: #CFB997;
}
.crystal{
	background-color: #F1E4C3;
}

.fire{
	background-color: #F05941;
}
.stone{
	background-color: #872341;
}
.molten{
	background-color: #FF4301;
}
.coal{
	background-color: #101010;
}
.smoke{
	background-color: lightslategrey;
}

.color-crystal{
	color: #F1E4C3 !important;
}
.color-fire{
	color: #F05941 !important;
}
.color-stone{
	color: #872341 !important;
}
.color-molten{
	color: #FF4301 !important;
}
.color-coal{
	color: #101010 !important;
}
.color-smoke{
	color: lightslategrey !important;
}
/* --------------------------------------------------------------------------- */
/* --------------------------------o-c-e-a-n---------------------------------- */
/* --------------------------------------------------------------------------- */

.ocean h1,
.ocean h2,
.ocean h3,
.ocean h4,
.ocean h5,
.ocean h6{
	color: var(--ocean-prime-c);
font-family: var(--ocean-font);
line-height: 1;
}	
.ocean button{
	background: var(--ocean-link);
	height:50px;
	margin: 5px;
	padding: 10px;
	color:#fff;
	font-weight: bold;
	font-size: medium;
	border: solid 3px var(--ocean-prime-c) ;
	font-family: 'Poppins', sans-serif;
	border-radius: 10px;

}
.ocean button:hover{
	background: var(--ocean-quote-c);
	height:50px;
	margin: 5px;
	padding: 10px;
	color: #fff;
	font-weight: bold;
	font-size: medium;
	border: solid 3px var(--ocean-prime-c) ;
	font-family: 'Poppins', sans-serif;
	border-radius: 10px;
	transition: 0.3s;
}
.ocean p{
	color:var(--ocean-para);
	font-family: var(--ocean-font);
}
.ocean a{
	color: var(--ocean-link);
}
.ocean a:hover{
	color: #FFD28F;
	transition: 0.3s;
}
.ocean mark{
	color: black;
	background-color:var(--ocean-sec-c);
	padding: 0 2px;
}
.ocean li,
.ocean ul,
.ocean ol{
	color :gray;
	font-family: var(--ocean-font);
	line-height: 1.4;
}
hr.ocean{
 border-top: 2px solid var(--ocean-list);
}
.ocean article
/*.ocean aside {*/{
    background: #b9ebee;
    border-left: 4px solid var(--ocean-para);
    padding: 0.01rem 0.8rem;
}
.ocean aside {
    background: var(--ocean-white);
    border-left: 4px solid var(--ocean-link);
    padding: 0.01rem 0.8rem;
    color: var();
}
.ocean details{
	line-height: 1;
}
.ocean summary{
	color : var(--ocean-list);
	line-height: 1.3;
	font-weight: bold;
	font-family: var(--ocean-font);
}
.ocean code,
.ocean samp{
	background-color: #c1f2f5;
	display: block;
    /* max-width: 500px; */
    padding: 0.5rem 2rem;
    white-space: pre-wrap;
    border-radius: 10px;
    font-family: var(--ocean-code-font);
}

/*quote*/
.ocean blockquote{
	font-family: var(--ocean-code-font);
	color: #86B6F6;
	display: block;
    font-size: x-large;
    margin: 1rem auto;
    padding: 1.5rem 1rem;
}
.ocean footer{
	font-family: var(--ocean-font);
	font-size: small;
	font-weight: 100px;
	letter-spacing: 5px;
	opacity: 0.8;
}
/*key*/
.ocean kbd{
	border: solid 3px var(--ocean-prime-c);
	padding: 5px;
	background-color: var(--ocean-white) ;
	opacity: 0.9;
	font-family: var(--ocean-code-font);
	border-radius: 5px;
	box-shadow: 2px 4px;
	margin: 3px;
}

/*table*/
.ocean table{
    border: 3px solid rgb(53, 53, 53);
    border-spacing: 0;
    display: inline-block;
    max-width: 100%;
    overflow-x: auto;
    padding: 0;
    border-radius: 8px;
}

.ocean td,
.ocean tr {
    padding: 0.5rem 0.8rem;
    text-align: center;
    color: rgb(39, 39, 39);
    background-color: var(--ocean-white);
    font-family: var(--ocean-font);

}
.ocean th{
    padding: 0.5rem 0.8rem;
    text-align: center;
    color: var(--ocean-white);
    background-color: gray;
    font-size: large;
    font-family: var(--ocean-code-font);
    border-bottom: 3px solid rgb(53, 53, 53);

}
.ocean-shell,
.ocean-shell-dark{
	background-color:var(--ocean-white);
	color: #000;
}

.ocean-fome,
.ocean-fome-dark{
	background-color: gainsboro;
	color: #000;
}
.ocean-water,
.ocean-water-dark{
	background-color : var(--ocean-para);
	color: #fff;
}
.ocean-sand,
.ocean-sand-dark{
	background-color:  var(--ocean-sec-c);
	color: #000;
}
.ocean-coast, 
.ocean-coast-dark{
	background-color: var(--ocean-list);
	color: #ffe;
}
.ocean-deepsea, .ocean-deepsea-dark{
	background-color: var(--ocean-quote-c);
	color: #fff;
}
.ocean-deepsea-dark,
.ocean-water-dark,
.ocean-sand-dark,
.ocean-shell-dark,
.ocean-coast-dark,
.ocean-fome-dark{
 font-family: var(--ocean-font);
 padding: 5px 10px;
 border: 2px solid #ffe;
 box-shadow: 0 4px #EEF5E5 ;
 margin-bottom: 6px;
}
.ocean-deepsea-dark:active,
.ocean-water-dark:active,
.ocean-sand-dark:active,
.ocean-shell-dark:active,
.ocean-coast-dark:active,
.ocean-fome-dark:active{
 font-family: var(--ocean-font);
 padding: 5px 10px;
 border: 2px solid #ffe;
 box-shadow: 0 1px #EEF5E5 ;
 transition: 0.05s;
 transform: translateY(2px);
}
.ocean-sand,
.ocean-shell,
.ocean-coast,
.ocean-fome,
.ocean-deepsea,
.ocean-water{
	font-family: var(--ocean-font);
	padding: 5px 10px;
	border: 2px solid black;
	/* box-shadow: 0 4px gray ; */
	margin-bottom: 6px;
}

.ocean-deepsea:active,
.ocean-water:active,
.ocean-sand:active,
.ocean-shell:active,
.ocean-coast:active,
.ocean-fome:active{
 font-family: var(--ocean-font);
 padding: 5px 10px;
 border: 2px solid #000;
 box-shadow: 0 1px #5C8374 ;
 transition: 0.05s;
 transform: translateY(2px);
}

.ocean-shell-card{
	background-color: #f8f8f3;
	border-radius: 5px;
    box-shadow: 4px 5px #B6C4B6;
    margin:10px;
    padding:10px;
    width: 240px;

}
.ocean-shell-card:hover{
	background-color: white;
	border-radius: 12px;
    box-shadow: 4px 5px #B6C4B6;
    margin: 10px;
    padding: 10px;
    width: 240px;
	transition: 0.3s;
	font-size: 18px;
}
.ocean-water-card{
	background-color: #bce5e7;
	border-radius: 5px;
    box-shadow:4px 5px #176B87;
    margin:10px;
    padding:10px;
    width: 240px;

}
.ocean-water-card:hover{
	background-color: white;
	border-radius: 12px;
    box-shadow:4px 5px #176B87 ;
	margin: 10px;
    padding: 10px;
    width: 240px;
	transition: 0.3s;
	font-size: 18px;
}
.ocean-sand-card{
background-color: #ffe2ba;
	border-radius: 5px;
    box-shadow:4px 5px goldenrod;
    margin:10px;
    padding:10px;
    width: 240px;
}
.ocean-sand-card:hover{
	background-color:white;
	border-radius: 12px;
    box-shadow:4px 5px goldenrod ;
	margin: 10px;
    padding: 10px;
    width: 240px;
	transition: 0.3s;
	font-size: 18px;
}
section{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.flex{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/* forms  */

.ocean form,.ocean label{
	font-family: var(--ocean-font);
	padding: 3px 6px;
	margin: 5px;
	color: #176B87;
}
.ocean input[type=text],
.ocean input[type=password],
.ocean input[type=email],
.ocean input[type=number],
.ocean select,
.ocean textarea{
	background-color: #bce5e7;
	border:  2px solid #71bdd6;
	border-radius: 2px;
	font-family: var(--ocean-code-font);
	padding: 3px 6px;
	margin: 5px;
	font-size: medium;
	
}
.ocean option{
	background-color: #CFB997;
}
.fome{
	background-color: gainsboro;
}

.shell{
	background-color: var(--ocean-white);
}
.sand{
	background-color: var(--ocean-sec-c);
}
.water{
	background-color: var(--ocean-para);
}
.coast{
	background-color: var(--ocean-list);
}
.deepsea{
	background-color: var(--ocean-quote-c);
}

.color-fome{
	color: gainsboro;
}

.color-shell{
	color: var(--ocean-white) !important;
}
.color-sand{
	color: var(--ocean-sec-c) !important;
}
.color-water{
	color: var(--ocean-para) !important;
}
.color-coast{
	color: var(--ocean-list) !important;
}
.color-deepsea{
	color: var(--ocean-quote-c) !important;
}